.container-tuentrada{
    display: flex;
    justify-content: center;
    align-items: center ;
    
}

.fecha-tuen{
    font-size: 35px;
    color: #a28200;
    font-weight: 700;
}

.container-tuentrada__col1{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}